<h1>Zoos#show</h1>
<div class="ui card">
  <div class="content">
    <p class="header">
      <%= @zoo.name %> <%= @zoo.name %>
    </p>
  </div>
  <div class="extra content">
    <%= link_to 'Edit', edit_zoo_path(@zoo) %> |
    <%= link_to 'Back', zoos_path %>
  </div>
</div>
